@model IEnumerable<ExpenseManagement.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Monthly Report", "MonthlyReport")
@Html.ActionLink("Weekly report", "WeeklyReport")

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="item" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpeseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpeseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                <button class="btn">Click</button>
            </td>
        </tr>
    }

</table>

@section scripts{

    <script>
        $(document).ready(function () {
            $(".btn").on("click", function () {
                confirm("Hello");
            });
            $("#item").DataTable();
        });
    </script>
}
